<app-header></app-header>

<br>


<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="card" style="background-color:rgb(231, 231, 248) ;">
                <div class="d-flex justify-content-around">
                    <form [formGroup]="addAnswerForm" (ngSubmit)="addAnswer()">
                        <br />
                        <h3>Add your Answer Here</h3>
                        <br />

                        <div class="form-group">
                            <label for="answer">Answer</label><br />
                            <input type="text" placeholder="Enter Your Answer" class="form-control"
                                formControlName="answer" id="answer" name="answer" />

                        </div>
                        <div class="form-group">
                            <label for="image">Image </label><br />
                            <input type="file" class="form-control" (change)="onFileChanged($event)"
                                 id="image" name="image" />

                        </div>

                        <p>
                            <button class="btn btn-success"  type="submit">
                                Submit
                            </button>
                        </p>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>