<app-admin-header></app-admin-header>

<br><br>

<h3  class="text-center">  Hello : {{username}}</h3>
<br>
<h4 class="text-center">You Can Perform The Following Operations</h4>
<br>
<br>

<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-1"></div>
        <div class="col-md-4">
           
                    <a class="btn btn-success" routerLink="/approveQuestion" >Approve Question</a><br><br><br>
                    <a class="btn btn-success" routerLink="/approveAnswer" >Approve Answer</a>
            
            
            </div>
            <div class="col-md-4">
                    <a class="btn btn-success " routerLink="/deleteQuestion" >Delete Question</a><br><br><br>
                    <a class="btn btn-success" routerLink="/deleteAnswer" >Delete Answer</a>
                </div>
            
   
    </div>
</div>